[submodule "Gem/vendor/spdlog"]
	path = Gem/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Gem/vendor/GLFW"]
	path = Gem/vendor/GLFW
	url = https://github.com/vetarN9/glfw
[submodule "Gem/vendor/imgui"]
	path = Gem/vendor/imgui
	url = https://github.com/vetarN9/imgui
[submodule "Gem/vendor/glm"]
	path = Gem/vendor/glm
	url = https://github.com/g-truc/glm
